<div ng-controller="servicesController as $" class="services">
    <b-content-widget data-title="Services" data-icon="versions" data-module-type="services"
        data-subtitle="Scenario services - database services & public services & web services & ..."
        data-await-action="$.awaitAction">
        <div class="b-table">
            <div class="table-header">
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.ServiceName" class="b-input form-control"
                            placeholder="Search by service name" />
                        <span><i class="codicon codicon-bell"></i></span>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.ServiceName" class="b-input form-control"
                            placeholder="Search by service name" />
                        <span><i class="codicon codicon-circuit-board"></i></span>
                    </div>
                </div>
                <div class="col-1">
                    <div class="b-input-group">
                        <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()"
                            ng-disabled="$.column">
                            <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                        </button>
                    </div>
                </div>
                <div class="header-tools">
                    <div class="b-btn-group">
                        <button type="button" class="b-btn btn-action" ng-click="$.onAddServiceClick()"
                            ng-disabled="$.column">
                            <i class="codicon codicon-plus" ng-disabled="$.running"></i>
                            Add Service
                        </button>
                        <button type="button" class="b-btn btn-action dropdown-toggle dropdown-toggle-split"
                            ng-disabled="$.column" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu b-dropdown-menu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-body">
                <div class="grid columns-name">
                    <div class="g-col-1">
                        <label class="b-checkbox">
                            <input type="checkbox" ng-model="$.filter.IsSelectedAll">
                            <i class="checkbox-icon"></i>
                        </label>
                    </div>
                    <div class="g-col-2">Service Type</div>
                    <div class="g-col-3">Service Name</div>
                    <div class="g-col-2">Is Readonly</div>
                    <div class="g-col-2">
                        <i class="codicon codicon-arrow-up d-inline-block"></i>
                        <i class="codicon codicon-arrow-down d-inline-block"></i>
                    </div>
                    <div class="g-col-2">
                        <i class="codicon codicon-ellipsis"></i>
                    </div>
                </div>
                <div class="grid table-row" ng-repeat="service in $.services | orderBy: 'ViewOrder'">
                    <div class="g-col-1">
                        <label class="b-checkbox">
                            <input type="checkbox" ng-model="$.service.IsSelected">
                            <i class="checkbox-icon"></i>
                        </label>
                    </div>
                    <div class="g-col-2">
                        {{service.ServiceType}}
                    </div>
                    <div class="g-col-3">
                        <span class="text"> {{service.ServiceName}} </span>
                        <span class="subtext"> {{service.TableName}} </span>
                    </div>
                    <div class="g-col-2">
                        <i ng-if="!service.IsReadOnly" class="codicon codicon-chrome-maximize fs-4 text-start"></i>
                        <i ng-if="service.IsReadOnly" class="codicon codicon-check fs-4 text-start"></i>
                    </div>
                    <div class="g-col-2">
                        <button type="button" class="b-clean text-light p-0" ng-disabled="$.running || $index==0">
                            <i class="codicon codicon-arrow-up d-inline-block me-1"
                                ng-click="$.onServiceSwapClick($index,$index-1)"></i>
                        </button>
                        <button type="button" class="b-clean text-light p-0"
                            ng-disabled="$.running || $index==$.services.length-1">
                            <i class="codicon codicon-arrow-down d-inline-block"
                                ng-click="$.onServiceSwapClick($index,$index+1)"></i>
                        </button>
                    </div>
                    <div class="g-col-2">
                        <div class="b-multi-btns">
                            <button type="button"
                                ng-click="$.onEditServiceClick(service.ServiceID,service.ServiceName)">
                                <i class="codicon codicon-edit"></i>
                            </button>
                            <button type="button" ng-click="$.onDeleteServiceClick(service.ServiceID,$index)">
                                <i class="codicon codicon-trash"></i>
                            </button>
                            <button type="button">
                                <i class="codicon codicon-ellipsis"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-footer">
                <div ng-if="!$.services.length" class="b-notify notify-warning mb-4">
                    <i class="codicon codicon-info b-icon-2"></i>
                    <div class="text">
                        <h4 class="label">No services.</h4>
                        <span class="subtext">
                            Click
                            <button type="button" class="b-btn btn-sm ms-2 me-2" ng-click="$.onAddServiceClick()">Add
                                Service</button> for creating a new
                            service.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </b-content-widget>
</div>