################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/business-engine-studio/node_modules
/node_modules
