<b-right-widget ng-if="$.workingMode=='field-edit'" data-title="Edit Field ({{$.currentField.FieldType}})" data-icon="notebook-template" data-subtitle="Build custom module with more components" data-await-action="$.awaitAction" class="mb-edit-field" data-module="$">
    <div class="d-flex">
        <div class="col-7 b-splitter border-end pe-3">
            <div class="b-field">
                <label class="form-label">Field Name</label>
                <div class="b-input-group">
                    <input type="text" id="txtFieldName" class="b-input form-control" ng-model="$.currentField.FieldName" placeholder="Enter field name" autocomplete="off" required />
                    <span><i class="codicon codicon-gear"></i></span>
                </div>
            </div>
            <div class="b-field" ng-if="!$.currentField.Settings.IsHideFieldText">
                <label class="form-label">Field Text</label>
                <div class="b-input-group">
                    <input type="text" id="txtFieldText" class="b-input form-control" ng-model="$.currentField.FieldText" placeholder="Enter field text" autocomplete="off" required />
                    <span><i class="codicon codicon-gear"></i></span>
                </div>
            </div>
        </div>
        <div class="col-5 ps-3">
            <div class="b-field">
                <label class="form-label d-block">Is Required</label>
                <label class="b-switch d-block">
                    <input type="checkbox" ng-model="$.currentField.IsRequired">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="b-field">
                <label class="form-label d-block">Hide Field Text</label>
                <label class="b-switch d-block">
                    <input type="checkbox" ng-model="$.currentField.Settings.IsHideFieldText">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
    <!------------------------------------>
    <!--Field Options-->
    <!------------------------------------>
    <div class="b-group mb-4">
        <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpFieldOptions">
            <h3 class="group-label">
                <span class="group-icon">
                    <i class="codicon codicon-gear"></i>
                </span> More Options
            </h3>
            <span class="group-collapse">
                <i class="codicon codicon-chevron-up"></i>
            </span>
        </div>
        <div id="grpFieldOptions" class="group-content collapse show">
            <div id="pnlFieldTypeOptions"></div>
        </div>
    </div>
    <!------------------------------------>
    <!--Field Template-->
    <!------------------------------------>
    <div class="b-group mb-4">
        <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpFieldTemplates">
            <h3 class="group-label">
                <span class="group-icon">
                    <i class="codicon codicon-server-process"></i>
                </span> Field Template
            </h3>
            <span class="group-collapse">
                <i class="codicon codicon-chevron-up"></i>
            </span>
        </div>
        <div id="grpFieldTemplates" class="group-content collapse show">
            <div class="b-field" ng-if="$.module.EnableFieldsDefaultTemplate">
                <div class="form-label">Inherit Template From Module Settings</div>
                <label class="b-switch">
                    <input type="checkbox" ng-model="$.currentField.InheritTemplate" ng-change="$.checkInheritTemplateAndTheme($.currentField)">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="b-notify notify-info mb-4" ng-if="$.showProblemForInheritTemplate">
                <i class="codicon codicon-info b-icon-2"></i>
                <div class="text">
                    <h4 class="label">Problem!</h4>
                    <span class="subtext">
                        Can not set the current field template from the module settings.
                        <br/> 
                        No template with the same name as <b>{{$.module.FieldsDefaultTemplate}}</b> were found in the field templates list.
                    </span>
                </div>
            </div>
            <ul class="field-templates" ng-if="!$.currentField.InheritTemplate">
                <li class="template-item" ng-repeat="template in $.currentField.FieldTypeObject.Templates" ng-class="{'active':template.TemplateName==$.currentField.Template}">
                    <button type="button" class="item-button" ng-click="$.onSelectFieldTemplate(template)">
                        <i ng-if="!template.TemplateImage" class="codicon codicon-preview"></i>
                        <div ng-if="template.TemplateImage"  class="image-wrapper" >
                            <img ng-src="{{template.TemplateImage}}"/>
                        </div>
                        <h6 class="template-name">{{template.TemplateName}}</h6>
                        <p ng-if="template.Description" class="template-description">{{template.Description}}</p>
                        <p ng-if="!template.Description" class="template-no-description">No description!</p>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!------------------------------------>
    <!--Field Theme-->
    <!------------------------------------>
    <div class="b-group mb-4">
        <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpFieldThemes">
            <h3 class="group-label">
                <span class="group-icon">
                    <i class="codicon codicon-server-process"></i>
                </span> Field Theme
            </h3>
            <span class="group-collapse">
                <i class="codicon codicon-chevron-up"></i>
            </span>
        </div>
        <div id="grpFieldThemes" class="group-content collapse show">
            <div class="b-field" ng-if="$.module.EnableFieldsDefaultTheme">
                <div class="form-label">Inherit Template From Module Settings</div>
                <label class="b-switch">
                    <input type="checkbox" ng-model="$.currentField.InheritTheme" ng-change="$.checkInheritTemplateAndTheme($.currentField)">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="b-notify notify-info mb-4" ng-if="$.showProblemForInheritTheme">
                <i class="codicon codicon-info b-icon-2"></i>
                <div class="text">
                    <h4 class="label">Problem!</h4>
                    <span class="subtext">
                    Can not set the current field theme from the module settings.
                    <br/> 
                    No theme with the same name as <b>{{$.module.FieldsDefaultTheme}}</b> were found in the field themes list.
                </span>
                </div>
            </div>
            <ul class="field-templates" ng-if="!$.currentField.InheritTheme">
                <li class="template-item" ng-repeat="theme in $.currentField.FieldTypeObject.Themes" ng-if="!theme.TemplateName||theme.TemplateName==$.currentField.Template" ng-class="{'active':theme.ThemeName==$.currentField.Theme}">
                    <button type="button" class="item-button" ng-click="$.onSelectFieldTheme(theme)">
                        <i ng-if="!theme.ThemeImage" class="codicon codicon-preview"></i>
                        <div ng-if="theme.ThemeImage"  class="image-wrapper" >
                            <img ng-src="{{theme.ThemeImage}}"/>
                        </div>
                        <h6 class="template-name">{{theme.ThemeName}}</h6>
                        <p ng-if="theme.Description" class="template-description">{{theme.Description}}</p>
                        <p ng-if="!theme.Description" class="template-no-description">No description!</p>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <hr class="mb-4" />
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-submit me-2" ng-click="$.onSaveFieldClick($event,true)" ng-disabled="$.running">
            <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
            Save Field
        </button>
        <button type="button" class="b-btn btn-cancel" ng-click="$.onCancelFieldClick()" ng-disabled="$.running">
            <i class="codicon codicon-circle-slash"></i>
            Cancel
        </button>
    </div>
</b-right-widget>