/* --------------------------------------------------------
        Explorer Component
    -----------------------------------------------------------*/

.b-sidebar-explorer {
  padding: 0.6rem 0.4rem 0;
}

.b-sidebar-explorer.is-awaiting {
  background-color: #6b6e743d;
}

.b-sidebar-explorer .header-explorer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding-bottom: 0.5rem;
}

.b-sidebar-explorer .header-explorer .exp-scenario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #cccccc;
  text-decoration: none;
  font-size: 0.9rem;
}

.b-sidebar-explorer .header-explorer .exp-actions {
  display: flex;
}

.b-sidebar-explorer .header-explorer .exp-actions > a {
  color: #ddd;
  font-size: 0.9rem;
  margin-right: 0.6rem;
  text-decoration: none;
}

.b-sidebar-explorer .header-explorer .search-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0.4rem 0.4rem 0.1rem;
}

.b-sidebar-explorer .header-explorer .search-box > .search-input {
  background-color: #363636;
  border: solid 0.1rem #5a5151;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color: #fff;
  display: flex;
  flex-grow: 2;
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
  outline: none;
}

.b-sidebar-explorer .header-explorer .exp-actions > a:last-child {
  margin-right: 0;
}

.b-sidebar-explorer .list-explorer {
  height: calc(100vh - 4rem);
  width: 100%;
}

.b-sidebar-explorer .exp-items {
  padding-left: 2rem;
  margin: 0;
}

.b-sidebar-explorer .exp-items .exp-item {
  color: #cccccc;
  cursor: pointer;
  list-style-type: none;
  position: relative;
}

.b-sidebar-explorer .exp-items .exp-item::before,
.b-sidebar-explorer .exp-items .exp-item::after {
  content: "";
  left: -1.45rem;
  position: absolute;
  right: auto;
}

.b-sidebar-explorer .exp-items .exp-item::before {
  border-left: 0.1rem solid #999;
  height: 100%;
  top: 0;
  width: 0.1rem;
}

.b-sidebar-explorer .exp-items .exp-item::after {
  border-top: 0.1rem solid #999;
  height: 1rem;
  top: 0.9rem;
  width: 1.2rem;
}

.b-sidebar-explorer .exp-items .exp-item:last-child::before {
  height: 1rem;
}

.b-sidebar-explorer .exp-items .exp-item .exp-label {
  color: #cccccc;
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  padding: 0.15rem 0.3rem 5px;
  text-decoration: none;
  white-space: nowrap;
}

.b-sidebar-explorer .exp-items .exp-item .exp-label.drag {
  opacity: 0.7;
}

.b-sidebar-explorer .exp-items .exp-item .exp-label.active {
  color: #fff;
  background-color: #094771;
  border: solid 1px #007fd4;
}

.b-sidebar-explorer .exp-items .exp-item .exp-label.action-1.active {
  display: inline-flex;
}

.b-sidebar-explorer .exp-items .exp-item .exp-label.drag-over {
  border-bottom: dashed 0.2rem #d3d3d3;
}

.b-sidebar-explorer .exp-items .exp-item .group-actions {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  display: none;
}

.b-sidebar-explorer .exp-items .exp-item:hover > .group-actions {
  display: block;
}

.b-sidebar-explorer .exp-items .exp-item .group-actions > .action-item {
  margin-left: 0.5rem;
  text-decoration: none;
}

.b-sidebar-explorer .exp-items .exp-item .group-actions > .action-item > i {
  color: #cccc !important;
  font-size: 0.9rem;
}

.b-sidebar-explorer .exp-items .exp-item.exp-group > .exp-label.drag-over {
  border-bottom: dashed 0.2rem #d3d3d3;
}

.b-sidebar-explorer .exp-items .exp-item.exp-group > .exp-label > i {
  font-size: 1.1rem !important;
  color: #c6c6c6 !important;
}

.b-sidebar-explorer .exp-items .exp-item .exp-label > i {
  float: left;
  margin: 0.3rem 0.25rem 0 0;
  font-size: 1rem;
}

.b-sidebar-explorer .exp-items .exp-item > .exp-label > i.exp-arrow-icon {
  transition: all 0.5s;
}

.b-sidebar-explorer
  .exp-items
  .exp-item
  > .exp-label.collapsed
  > i.exp-arrow-icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.b-sidebar-explorer .exp-items .exp-item .exp-list-link {
  color: #fff;
  display: none;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.b-sidebar-explorer .exp-items .exp-item:hover > .exp-list-link {
  display: block;
}

.b-sidebar-explorer .exp-items .exp-item .exp-list-link > i {
  font-size: 1.2rem;
}

.b-sidebar-explorer
  .exp-items
  .exp-item:not(.exp-scenario).exp-has-childs
  .exp-label:not(.active):hover,
.b-sidebar-explorer
  .exp-items
  .exp-item:not(.exp-scenario).exp-has-childs
  .exp-label:not(.active):hover
  + ul
  li
  .exp-label {
  background: #2a2d2e;
}

.collapsed + ul.exp-sub-items.show-items {
  display: block;
}

.b-sidebar-explorer .exp-items .exp-item.exp-entities > .exp-sub-items i {
  color: #f55385;
}

.b-sidebar-explorer .exp-items .exp-item.exp-view-models > .exp-sub-items i {
  color: #e37933;
}

.b-sidebar-explorer .exp-items .exp-item.exp-services > .exp-sub-items i {
  color: #519aba;
}

.b-sidebar-explorer .exp-items .exp-item.exp-modules > .exp-sub-items i {
  color: #33e333;
}

.b-sidebar-explorer .exp-items .exp-item.exp-actions > .exp-sub-items i {
  color: #cbcb41;
}

.b-sidebar-explorer .exp-items .exp-item.exp-more > .exp-sub-items i {
  color: #417dcb;
}

.b-sidebar-explorer .exp-items li ul {
  padding: 0 0 0 2.2rem;
}

/* --------------------------------------------------------
        Content Widget
    -----------------------------------------------------------*/

.b-content-widget {
  background-color: #252628;
  border: solid 1px #333333;
  box-shadow: rgb(0 0 0 / 36%) 0px 0px 8px 0px;
  color: rgb(204, 204, 204);
  padding: 1.4rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.b-content-widget .loading-frame {
  background-color: #25262838;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.b-content-widget .widget-header {
  border-bottom: solid 1px rgb(66, 65, 65);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.b-content-widget .widget-header .widget-title {
  color: #ddd;
  line-height: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.b-content-widget.is-error .widget-header .widget-title {
  color: #dc3545;
}

.b-content-widget .widget-header .widget-title > i {
  font-size: 1.5rem;
  margin-right: 0.7rem;
  margin-top: 0.1rem;
}

.b-content-widget .widget-header .widget-title > h2 {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.b-content-widget .widget-header .widget-title > p {
  filter: brightness(80%);
  font-size: 0.85rem;
  margin: 0.4rem 0 0;
  white-space: nowrap;
  max-width: calc(100% - 20rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

.b-content-widget.is-error .widget-header .widget-title > p {
  filter: brightness(100%);
}

.b-content-widget .widget-header .widget-title > .loading-circle {
  top: -0.3rem;
}

.b-content-widget .widget-header .widget-tools {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.b-content-widget .widget-header .widget-tools > li {
  display: inline-block;
  margin: 0 0.2rem;
  cursor: pointer;
}

.b-content-widget .widget-body {
  position: relative;
}

.b-content-widget .widget-body .advanced-search-box {
  background-color: #4a4a4abf;
  width: 100%;
  height: 0;
  transform: translateY(-10rem);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 0;
}

.b-content-widget .widget-body .advanced-search-box.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  height: 5rem;
  margin-bottom: 2rem;
}

.b-content-widget .widget-body .advanced-search-box.show .content-pane {
  padding: 1.5rem;
}

/* --------------------------------------------------------
        Right Widget
    -----------------------------------------------------------*/

.b-right-widget-drop {
  background-color: #dddddd2e;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.b-right-widget {
  background-color: #252628;
  border: solid 1px #333333;
  box-shadow: rgb(0 0 0 / 36%) 0px 0px 8px 0px;
  color: rgb(204, 204, 204);
  margin-bottom: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  transform: translateX(100%);
  opacity: 0.3;
  visibility: hidden;
  transition: all 0.2s ease-out;
  z-index: 999999;
}

.b-right-widget.visible {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.b-right-widget .widget-header {
  border-bottom: 1px solid rgb(66, 65, 65);
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.b-right-widget .widget-header .widget-title {
  line-height: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.b-right-widget .widget-header .widget-title > i {
  font-size: 1.5rem;
  margin-right: 0.7rem;
  margin-top: 0.1rem;
}

.b-right-widget .widget-header .widget-title > h2 {
  color: #eee;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.b-right-widget .widget-header .widget-title > p {
  color: #aaa;
  font-size: 0.85rem;
  margin: 0.4rem 0 0;
  white-space: nowrap;
  max-width: calc(100% - 20rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

.b-right-widget .widget-header .widget-title > .loading-circle {
  top: -0.3rem;
}

.b-right-widget .widget-header .widget-tools {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.b-right-widget .widget-header .widget-tools > li {
  display: inline-block;
  margin: 0 0.2rem;
  cursor: pointer;
}

/* is waiting */

.b-right-widget.is-waiting .widget-header::before {
  animation: progress-animation 2s linear infinite;
  transition: left linear 0.25s, right linear 0.25s;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 0.1rem;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffd33d,
    #ea4aaa 17%,
    #b34bff 34%,
    #01feff 51%,
    #ffd33d 68%,
    #ea4aaa 85%,
    #b34bff
  );
  background-size: 300% 100%;
}

.b-right-widget.is-waiting .widget-header .widget-title > h1 {
  color: #eeeeee9c;
}

.b-right-widget.is-waiting .widget-header .widget-title > p {
  color: #cfcfcf96;
}

/* is error */

.b-right-widget.is-error .widget-header::before {
  background: #dc3545 !important;
}

.b-right-widget.is-error .widget-header .widget-title {
  animation-duration: 5s !important;
}

.b-right-widget.is-error .widget-header .widget-title > i,
.b-right-widget.is-error .widget-header .widget-title > h1,
.b-right-widget.is-error .widget-header .widget-title > p {
  color: #dc3545 !important;
}

.b-right-widget .widget-body {
  padding: 0.5rem 1rem;
  margin-bottom: 8rem;
  height: calc(100% - 5rem);
}

/* --------------------------------------------------------
        Quick Input Component
    -----------------------------------------------------------*/

.b-quick-input {
  background-color: rgb(37, 37, 38);
  color: rgb(204, 204, 204);
  box-shadow: rgb(0 0 0 / 36%) 0px 0px 8px 2px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  z-index: 1000;
  min-width: 30rem;
}

.b-quick-input .input-box {
  position: relative;
  padding: 0.5rem 0.5rem 0 0.2rem;
}

.b-quick-input .input-box > input {
  background-color: rgb(60, 60, 60);
  border: 0;
  color: rgb(204, 204, 204);
  padding: 0.3rem 0.5rem;
  resize: none;
  outline: none;
  width: 100%;
}

.b-quick-input .input-box > input:focus {
  outline: #007fd4;
  outline-offset: 1px;
}

.b-quick-input .list-box {
  padding: 0.2rem;
}

.b-quick-input .list-box .row-item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #4e4d4d;
  align-items: flex-start;
  font-size: 0.9rem;
}

.b-quick-input .list-box .row-item:last-child {
  border: 0;
}

.b-quick-input .list-box .row-item .item-link {
  color: rgb(204, 204, 204);
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-decoration: none;
}

.b-quick-input .list-box .row-item .item-link:hover {
  background-color: rgb(50, 50, 51);
}

.b-quick-input .list-box .row-item.active .item-link {
  color: #fff;
  background-color: #094771;
}

.b-quick-input .list-box .row-item .item-link > i {
  display: inline-block;
  margin-right: 0.2rem;
}

.b-quick-input .list-box .row-item .item-link > span {
  display: inline-block;
}

.b-quick-input .list-box .row-item .item-link > pre {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: rgb(179 176 176);
}

.b-quick-input .list-box .row-item .separator {
  color: #3794ff;
}

.b-quick-input-drop {
  position: fixed;
  background: rgb(213 213 213 / 49%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* --------------------------------------------------------
        Notification Toast
    -----------------------------------------------------------*/

.b-notification-toast {
  position: relative;
  padding-bottom: 0.15rem;
  background: rgb(37, 37, 38);
  box-shadow: rgb(0 0 0 / 36%) 0px 0px 8px 2px;
}

.b-notification-toast .notify-container {
  color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 1.1rem;
  width: 25rem;
  z-index: 999999;
}

.b-notification-toast .notify-icon {
  margin-right: 0.6rem;
}

.b-notification-toast .notify-text {
  margin: 0;
  flex: 1;
}

.b-notification-toast .notify-close {
  cursor: pointer;
  margin-left: auto;
}

.b-notification-toast .notify-progress-bar {
  background-color: rgb(17, 119, 187);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  z-index: 101;
  -webkit-transition: width 2.5s ease;
  transition: width 12s ease;
}

.b-notification-toast .notify-progress-bar.is-started {
  width: 0;
}
