/* ------------------------------------------------------------------------ */
.wizard-steps.artin {
  margin: 0;
  position: relative;
  text-align: left;
}

.wizard-steps.artin > .wz-steps {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.wizard-steps.artin > .wz-steps .wz-step {
  color: #cccccc;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  flex: 100%;
  padding: 2.3rem 0 0;
  position: relative;
  text-align: center;
  transition: all 300ms ease-in-out 0s;
}

.wizard-steps.artin > .wz-steps .wz-step.disable,
.wizard-steps.artin > .wz-steps .wz-step.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.wizard-steps.artin > .wz-steps .wz-step::before,
.wizard-steps.artin > .wz-steps .wz-step::after {
  content: "";
  border-color: #cccccc;
  border-style: solid;
  border-width: 0.15rem 0 0;
  position: absolute;
  top: 0.85em;
  transition: all 300ms ease-in-out 0s;
  z-index: 1;
}

.wizard-steps.artin > .wz-steps .wz-step::before {
  left: 0;
  width: calc(50% - 1rem);
}

.wizard-steps.artin > .wz-steps .wz-step::after {
  left: calc(50% + 0.9rem);
  width: calc(50% - 0.9rem);
}

.wizard-steps.artin > .wz-steps .wz-step:first-child::before,
.wizard-steps.artin > .wz-steps .wz-step:last-child::after {
  border-style: dashed;
}

.wizard-steps.artin > .wz-steps .wz-step.active:after {
  border-color: #ddd !important;
}

.wizard-steps.artin > .wz-steps .wz-step.active ~ .wz-step,
.wizard-steps.artin > .wz-steps .wz-step.active ~ .wz-step:before,
.wizard-steps.artin > .wz-steps .wz-step.active ~ .wz-step:after {
  color: #ddd;
  border-color: #ddd;
}

.wizard-steps.artin > .wz-steps .wz-step > span {
  display: inline-flex;
  left: calc(50% - 1rem);
  position: absolute;
  font: normal normal normal 16px/1 codicon;
  top: 0;
  transition: all 300ms ease-in-out 0s;
  z-index: 3;
}

.wizard-steps.artin > .wz-steps .wz-step > span::before {
  content: "\ebb3";
  font-size: 2rem;
}

.wizard-steps.artin > .wz-steps .wz-step.active > span::before {
  content: "\ebd9";
  color: #62b965;
}

.wizard-steps.artin > .wz-steps .wz-step.active ~ .wz-step > span:before {
  content: "\eb0c";
}

.wizard-steps.artin > .step-content {
  padding-top: 2rem;
  min-height: 25rem;
}
/* ------------------------------------------------------------------------ */

/* --------------------------------------------------------
    Custom List Selective 
-----------------------------------------------------------*/
.b-custom-selective {
  background-color: #3c3c3e;
  box-shadow: 1px 1px 1px hsla(var(--shadow), 0.12),
    3px 3px 3px hsla(var(--shadow), 0.11), 5px 5px 5px hsla(var(--shadow), 0.1),
    7px 7px 7px hsla(var(--shadow), 0.09),
    11px 11px 11px hsla(var(--shadow), 0.08),
    13px 13px 13px hsla(var(--shadow), 0.07),
    17px 17px 17px hsla(var(--shadow), 0.06),
    19px 19px 19px hsla(var(--shadow), 0.05),
    23px 23px 23px hsla(var(--shadow), 0.04),
    29px 29px 29px hsla(var(--shadow), 0.03);
  background-clip: border-box;
  cursor: pointer;
  min-height: 11.1rem;
  transition: 0.18s ease-in-out;
}

.b-custom-selective:hover,
.b-custom-selective.selected {
  box-shadow: 0 0.125rem 0.625rem 0px #777;
  border: solid 1px #777;
}

.b-custom-selective .card-text {
  height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.monaco-editor {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.btn {
  margin-right: 8px;
}

.cursor-move {
  cursor: move !important;
}
