<div ng-controller="createListController as $" class="create-list" ng-class="{'was-validated':$.form.validated}">
    <b-content-widget data-title="Create List" data-icon="table" data-module-type="create-list" data-subtitle="Add or edit scenario list" data-await-action="$.awaitAction" data-module="$" data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <div class="d-flex">
            <div class="col-7 b-splitter border-end pe-5">
                <div class="b-field">
                    <label class="form-label">Scenario</label>
                    <div class="b-input-group">
                        <select id="drpScenarioID" ng-model="$.listModule.ScenarioID" class="b-input form-select" ng-options="scenario.ScenarioID as scenario.ScenarioTitle for scenario in $.scenarios" ng-disabled="$.running" chosen inherit-select-classes="true" placeholder-text-single="'Select form scenario'"
                            required>
                        </select>
                        <span><i class="codicon codicon-activate-breakpoints"></i></span>
                    </div>
                </div>
                <div class="b-notify mb-2">
                    <i class="codicon codicon-info b-icon-1"></i>
                    <p class="subtext m-0">
                        <b>List Name Example:</b> product-list, UserList, list_1 ...
                    </p>
                </div>
                <div class="b-field">
                    <label class="form-label">List Name</label>
                    <div class="d-flex mb-2">
                        <div class="col-8">
                            <div class=" b-input-group">
                                <input type="text" id="txtModuleName" ng-model="$.listModule.ModuleName" class="b-input form-control" placeholder="Enter list name(like top examples)" autocomplete="off " required />
                                <span><i class="codicon codicon-gear"></i></span>
                            </div>
                        </div>
                        <div class="col-3 ms-1">
                            <button type="button" class="b-btn btn-action h-100 ps-4 pe-4" ng-click="$.validateModuleName()" ng-disabled="!$.listModule.ModuleName">
                                <i class=" codicon codicon-go-to-search"></i>
                                Validate Name
                            </button>
                        </div>
                    </div>
                    <div ng-if="$.moduleNameIsValid==false">
                        <div class="b-notify notify-warning mb-2" ng-if="!$.moduleNameIsValidPattern">
                            <i class="codicon codicon-regex b-icon-2"></i>
                            <p class="text mb-0"> This name does not match with the pattern.</p>
                        </div>
                        <div class="b-notify notify-warning mb-2" ng-if="$.moduleNameIsExists">
                            <i class="codicon codicon-references b-icon-2"></i>
                            <p class="text mb-0"> this name is already exists on the database table.</p>
                        </div>
                        <div class="b-notify notify-warning mb-2" ng-if="$.moduleNameIsValidPattern && !$.moduleNameIsExists">
                            <i class="codicon codicon-warning b-icon-2"></i>
                            <p class="text mb-0"> This name is not valid.</p>
                        </div>
                    </div>
                    <div class="b-notify notify-success mb-2" ng-if="$.moduleNameIsValid">
                        <i class="codicon codicon-check-all b-icon-2"></i>
                        <p class="text mb-0"> This name is valid.</p>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">List Title</label>
                    <div class="b-input-group">
                        <input type="text" id="txtModuleTitle" ng-model="$.listModule.ModuleTitle" class="b-input form-control" placeholder="Enter form title" autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
            </div>
            <div class="col ps-5">
                <div class="b-field">
                    <label class="form-label">Module Builder Type</label>
                    <div class="b-input-group">
                        <select id="drpModuleBuilderType" ng-model="$.listModule.ModuleBuilderType" class="b-input form-select" ng-disabled="$.running" chosen inherit-select-classes="true" placeholder-text-single="'Select module builder type'" required>
                        <option value="FormDesigner">Form Designer</option>
                        <option value="HtmlEditor">Html Editor</option>
                        </select>
                        <span><i class="codicon codicon-code"></i></span>
                    </div>
                </div>
                <div class="b-field" ng-if="$.listModule.ModuleBuilderType=='HtmlEditor'">
                    <label class="form-label">Files(html,js,css)</label>
                    <div class="b-small-nowrap b-input form-control">
                        /Portals/[Portal-System]/BusinessEngine/[ScenarioName]/[ModuleName]-custom.html
                    </div>
                    <div class="b-small-nowrap b-input form-control">
                        /Portals/[Portal-System]/BusinessEngine/[ScenarioName]/[ModuleName]-custom.js
                    </div>
                    <div class="b-small-nowrap b-input form-control">
                        /Portals/[Portal-System]/BusinessEngine/[ScenarioName]/[ModuleName]-custom.css
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Server Side Rendering</label>
                    <label class="b-switch">
                        <input type="checkbox" ng-model="$.listModule.IsSSR">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="b-field" ng-if="$.listModule.IsSSR">
                    <label class="form-label">Disable Front Framework</label>
                    <label class="b-switch">
                        <input type="checkbox" ng-model="$.listModule.IsDisabledFrontFramework">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <hr class="mb-4" />
        <div class="d-flex mb-1">
            <div class="justify-content-start">
                <button type="button" ng-if="$.listModule.ModuleID" class="b-btn btn-action me-2" b-custom-tooltip title="Goto Module Builder" ng-click="$.onGotoModuleBuilderClick()" ng-disabled="$.running">
                    <i class="codicon codicon-preview me-0"></i>
                </button>
            </div>
            <div class="justify-content-end ms-auto">
                <button type="button" class="b-btn btn-submit me-2" ng-click="$.onSaveListClick()" ng-disabled="$.running">
                    <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-form'}"></i>
                    Save List
                </button>
                <button type="button" class="b-btn btn-cancel" ng-click="$.onCancelListClick()" ng-disabled="$.running">
                    <i class="codicon codicon-circle-slash"></i>
                    Cancel
                </button>
            </div>
        </div>
        <div class="b-notify notify-note mt-4 mb-4" ng-if="$.importantNoteForChangeModuleName">
            <i class="codicon codicon-info b-icon-2"></i>
            <div class="text">
                <h4 class="label">Important Note!!</h4>
                <div class="subtext ">
                    <p class="mb-2">After the module rename, you must goto <b>Module Builder</b> and <b>Rebuild</b> module again.</p>
                    <button type="button" class="b-btn btn-white btn-sm" ng-click="$.onGotoModuleBuilderClick()">Goto Module Builder</button>
                </div>
            </div>
        </div>
    </b-content-widget>
</div>