<div ng-controller="createDetailsController as $" class="create-form" ng-class="{'was-validated':$.form.validated}">
    <b-content-widget data-title="Create Details" data-icon="table" data-module-type="create-form" data-subtitle="Add or edit scenario form" data-await-action="$.awaitAction" data-module="$" data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <div class="d-flex">
            <div class="col-7 b-splitter border-end pe-5">
                <div class="b-field">
                    <label class="form-label">Scenario</label>
                    <div class="b-input-group">
                        <select id="drpScenarioID" ng-model="$.detailsModule.ScenarioID" class="b-input form-select" ng-options="scenario.ScenarioID as scenario.ScenarioTitle for scenario in $.scenarios" ng-disabled="$.running" chosen inherit-select-classes="true" placeholder-text-single="'Select details scenario'"
                            required>
                        </select>
                        <span><i class="codicon codicon-activate-breakpoints"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Details Name</label>
                    <div class="b-input-group">
                        <input type="text" id="txtModuleName" ng-model="$.detailsModule.ModuleName" class="b-input form-control" placeholder="Enter details name(must be unique)" autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Details Title</label>
                    <div class="b-input-group">
                        <input type="text" id="txtModuleTitle" ng-model="$.detailsModule.ModuleTitle" class="b-input form-control" placeholder="Enter details title" autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
            </div>
            <div class="col ps-5">
                <div class="b-field">
                    <label class="form-label">Module Builder Type</label>
                    <div class="b-input-group">
                        <select id="drpScenarioID" ng-model="$.detailsModule.ModuleBuilderType" class="b-input form-select" ng-disabled="$.running" chosen inherit-select-classes="true" placeholder-text-single="'Select module builder type'" required>
                        <option value="FormDesigner">Form Designer</option>
                        <option value="HtmlEditor">Html Editor</option>
                        </select>
                        <span><i class="codicon codicon-code"></i></span>
                    </div>
                </div>
                <div class="b-field" ng-if="$.detailsModule.ModuleBuilderType=='HtmlEditor'">
                    <label class="form-label">Files(html,js,css)</label>
                    <div class="b-small-nowrap b-input form-control">
                        /Portals/[Portal-System]/BusinessEngine/[ScenarioName]/[ModuleName]-custom.html
                    </div>
                    <div class="b-small-nowrap b-input form-control">
                        /Portals/[Portal-System]/BusinessEngine/[ScenarioName]/[ModuleName]-custom.js
                    </div>
                    <div class="b-small-nowrap b-input form-control">
                        /Portals/[Portal-System]/BusinessEngine/[ScenarioName]/[ModuleName]-custom.css
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Server Side Rendering</label>
                    <label class="b-switch">
                        <input type="checkbox" ng-model="$.detailsModule.IsSSR">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="b-field" ng-if="$.detailsModule.IsSSR">
                    <label class="form-label">Disable Front Framework</label>
                    <label class="b-switch">
                        <input type="checkbox" ng-model="$.detailsModule.IsDisabledFrontFramework">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <hr class="mb-4" />
        <div class="d-flex mb-1">
            <div class="justify-content-start">
                <button type="button" ng-if="$.detailsModule.ModuleID" class="b-btn btn-action me-2" b-custom-tooltip title="Goto Module Builder" ng-click="$.onGotoModuleBuilderClick()" ng-disabled="$.running">
                    <i class="codicon codicon-preview me-0"></i>
                </button>
            </div>
            <div class="justify-content-end ms-auto">
                <button type="button" class="b-btn btn-submit me-2" ng-click="$.onSaveDetailsClick()" ng-disabled="$.running">
                    <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-details'}"></i>
                    Save Details
                </button>
                <button type="button" class="b-btn btn-cancel" ng-click="$.onCancelDetailsClick()" ng-disabled="$.running">
                    <i class="codicon codicon-circle-slash"></i>
                    Cancel
                </button>
            </div>
        </div>
    </b-content-widget>
</div>