<div ng-controller="librariesController as $" class="libraries">
    <!------------------------------------>
    <!--Sidebar-->
    <!------------------------------------>
    <div class="mb-sidebar" b-custom-sidebar="libraries">
        <!------------------------------------>
        <!--Top Libraries-->
        <!------------------------------------>
        <div class="top-libraries b-scrollbar">
            <ul class="library-list">
                <li class="library-item" ng-repeat="library in $.topLibraries | orderBy:'LibraryName'">
                    <span class="library-version">{{library.Version}}</span>
                    <div class="library-wrapper">
                        <div class="logo-wrapper">
                            <img ng-src="{{library.Logo}}" />
                        </div>
                        <div class="library-data">
                            <h4 class="library-name">{{library.LibraryName}}</h4>
                            <span class="library-type">{{library.Type}}</span>
                            <p class="library-desc">{{library.Summary}}</p>
                            <a class="github-link" ng-href="{{library.GithubPage}}" target="_blank">
                                <i class="codicon codicon-github-inverted"></i> Github Page
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!------------------------------------>
    <!--Content Bar-->
    <!------------------------------------>
    <b-content-widget data-title="Library & Resources" data-icon="multiple-windows" data-module-type="libraries" data-subtitle="Libraries & resources installed" data-await-action="$.awaitAction" data-module="$" data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <!------------------------------------>
        <!--Libraries table-->
        <!------------------------------------>
        <div class="libraries">
            <div class="d-flex mb-4">
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.LibraryName" class="b-input form-control" placeholder="Search by library name" />
                        <span><i class="codicon codicon-bell"></i></span>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.LibraryName" class="b-input form-control" placeholder="Search by library name" />
                        <span><i class="codicon codicon-circuit-board"></i></span>
                    </div>
                </div>
                <div class="col-1">
                    <div class="b-input-group">
                        <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()" ng-disabled="$.column">
                            <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!------------------------------------>
            <!--Module Libraries-->
            <!------------------------------------>
            <div class="b-group mb-4">
                <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpModuleLibraries">
                    <h3 class="group-label">
                        <span class="group-icon">
                        <i class="codicon codicon-server-process"></i>
                        </span> Module Libraries
                    </h3>
                    <span class="group-collapse">
                        <i class="codicon codicon-chevron-up"></i>
                    </span>
                </div>
                <div id="grpModuleLibraries" class="group-content collapse show">
                    <div class="library-item" ng-repeat="library in $.libraries | orderBy: ['-IsSystemLibrary','LibraryName']">
                        <div class="item-wrapper">
                            <div class="row">
                                <div class="col-2 library-logo-wrapper">
                                    <img ng-src="{{library.Logo}}" />
                                </div>
                                <div class="col-5 b-splitter border-end">
                                    <h5 class="library-name">{{library.LibraryName}}</h5>
                                    <p class="text-mute mb-1"> {{library.Type}} </p>
                                    <p class="text-mute mb-2">Version {{library.Version}} </p>
                                    <p class="library-desc">
                                        {{library.Summary}}
                                    </p>
                                </div>
                                <div class="col-2 b-splitter border-end small">
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="codicon me-2" ng-class="{'codicon-check':library.IsSystemLibrary,'codicon-chrome-maximize':!library.IsSystemLibrary}"></i> Is System Library
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="codicon me-2" ng-class="{'codicon-check':library.IsCommercial,'codicon-chrome-maximize':!library.IsCommercial}"></i> Is Commercial
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="codicon me-2" ng-class="{'codicon-check':library.IsOpenSource,'codicon-chrome-maximize':!library.IsOpenSource}"></i> Is Open Source
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="codicon me-2" ng-class="{'codicon-check':library.IsCDN,'codicon-chrome-maximize':!library.IsCDN}"></i> Is CDN
                                    </div>
                                    <div class="d-flex align-items-center mb-0">
                                        <i class="codicon me-2" ng-class="{'codicon-check':library.IsStable,'codicon-chrome-maximize':!library.IsStable}"></i> Is Stable
                                    </div>
                                </div>
                                <div class="col-1 small pe-0">
                                    <p class="text-white-50" ng-if="library.Params.length">{{library.Params.length}} Params</p>
                                    <p class="text-white-50" ng-if="library.Results.length">{{library.Results.length}} Results</p>
                                    <p class="text-white-50" ng-if="library.Conditions.length">{{library.Conditions.length}} Conditions</p>
                                </div>
                                <div class="col-1 action-btns">
                                    <button type="button" class="b-btn btn-action mb-2" ng-click="$.onEditLibraryClick(library.LibraryID,library.LibraryName,library.FieldID)">
                                        <i class="codicon codicon-edit me-0"></i>
                                    </button>
                                    <button type="button" class="b-btn btn-action mb-2" ng-click="$.onDeleteLibraryClick(library.LibraryID,$index)">
                                        <i class="codicon codicon-trash me-0"></i>
                                    </button>
                                    <a class="b-btn btn-action" href="#libraryMoreData{{library.LibraryID}}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                        <i class="codicon codicon-fold-down me-0"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse multi-collapse" id="libraryMoreData{{library.LibraryID}}">
                                <div class="library-options">
                                    <div class="b-table">
                                        <div class="table-body">
                                            <div class="grid columns-name">
                                                <div class="g-col-1">
                                                    <label class="b-checkbox">
                                                        <input type="checkbox" ng-model="$.filter.IsSelectedAll">
                                                        <i class="checkbox-icon"></i>
                                                    </label>
                                                </div>
                                                <div class="g-col-1">Type</div>
                                                <div class="g-col-7">Resource Path</div>
                                                <div class="g-col-1 text-center">Prority</div>
                                                <div class="g-col-1 text-end">
                                                    <i class="codicon codicon-ellipsis"></i>
                                                </div>
                                            </div>
                                            <div class="grid table-row" ng-repeat="resource in library.Resources | orderBy: 'LoadOrder'">
                                                <div class="g-col-1">
                                                    <label class="b-checkbox">
                                                        <input type="checkbox" ng-model="$.action.IsSelected">
                                                        <i class="checkbox-icon"></i>
                                                    </label>
                                                </div>
                                                <div class="g-col-1">
                                                    {{resource.ResourceType}}
                                                </div>
                                                <div class="g-col-7">
                                                    {{resource.ResourcePath}}
                                                </div>
                                                <div class="g-col-1 text-center">
                                                    {{resource.LoadOrder}}
                                                </div>
                                                <div class="g-col-1 text-end">
                                                    <div class="col-1 action-btns level-2">
                                                        <button type="button" class="b-btn btn-action mb-2" ng-click="$.onEditLibraryClick(library.LibraryID,library.LibraryName,library.FieldID)">
                                                            <i class="codicon codicon-edit me-0"></i>
                                                        </button>
                                                        <button type="button" class="b-btn btn-action mb-2" ng-click="$.onDeleteLibraryClick(library.LibraryID,$index)">
                                                            <i class="codicon codicon-trash me-0"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-footer">
                                            <div ng-if="!library.Resources.length" class="b-notify notify-info mb-4">
                                                <i class="codicon codicon-info b-icon-2"></i>
                                                <div class="text">
                                                    <h4 class="label">No Resources!.</h4>
                                                    <span class="subtext">
                                                        No resourcefor this libraries!
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-content-widget>
</div>