<div ng-controller="entitiesController as $" class="entities overflow-hidden">
    <b-content-widget data-title="Entities" data-icon="combine" data-module-type="entities" data-subtitle="Scenario entities - tables & views on database" data-await-action="$.awaitAction" data-module="$" extra-icon1="codicon codicon-table" extra-icon1-title="Table Mode"
        extra-icon1-method="onTableModeClick" extra-icon2="codicon codicon-chrome-restore" extra-icon2-title="Box Mode" extra-icon2-method="onBoxModeClick">
        <div class="advanced-search-box">
            <div class="content-pane">
                <div class="row">
                    <div class="col-3 me-3">
                        <div class="b-input-group">
                            <input type="text" ng-model="$.filter.EntityName" class="b-input form-control" placeholder="Search by entity name" />
                            <span><i class="codicon codicon-bell"></i></span>
                        </div>
                    </div>
                    <div class="col-3 me-3">
                        <div class="b-input-group">
                            <input type="text" ng-model="$.filter.EntityName" class="b-input form-control" placeholder="Search by entity name" />
                            <span><i class="codicon codicon-circuit-board"></i></span>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="b-input-group">
                            <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()" ng-disabled="$.column">
                            <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-table" ng-if="$.displayMode=='table'">
            <div class="table-header">
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.EntityName" class="b-input form-control" placeholder="Search by entity name" />
                        <span><i class="codicon codicon-bell"></i></span>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.EntityName" class="b-input form-control" placeholder="Search by entity name" />
                        <span><i class="codicon codicon-circuit-board"></i></span>
                    </div>
                </div>
                <div class="col-1">
                    <div class="b-input-group">
                        <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()" ng-disabled="$.column">
                            <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                        </button>
                    </div>
                </div>
                <div class="header-tools">
                    <div class="b-btn-group">
                        <button type="button" class="b-btn btn-action" ng-click="$.onAddEntityClick()" ng-disabled="$.column">
                            <i class="codicon codicon-plus" ng-disabled="$.running"></i>
                            Add Entity
                        </button>
                        <button type="button" class="b-btn btn-action dropdown-toggle dropdown-toggle-split" ng-disabled="$.column" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu b-dropdown-menu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-body">
                <div class="grid columns-name">
                    <div class="g-col-1">
                        <label class="b-checkbox">
                            <input type="checkbox" ng-model="$.filter.IsSelectedAll">
                            <i class="checkbox-icon"></i>
                        </label>
                    </div>
                    <div class="g-col-2">Entity Type</div>
                    <div class="g-col-3">Entity Name</div>
                    <div class="g-col-2">Is Readonly</div>
                    <div class="g-col-2">
                        <i class="codicon codicon-arrow-up d-inline-block"></i>
                        <i class="codicon codicon-arrow-down d-inline-block"></i>
                    </div>
                    <div class="g-col-2">
                        <i class="codicon codicon-ellipsis"></i>
                    </div>
                </div>
                <div class="grid table-row" ng-repeat="entity in $.entities | orderBy: 'ViewOrder'">
                    <div class="g-col-1">
                        <label class="b-checkbox">
                            <input type="checkbox" ng-model="$.entity.IsSelected">
                            <i class="checkbox-icon"></i>
                        </label>
                    </div>
                    <div class="g-col-2">
                        {{entity.EntityType}}
                    </div>
                    <div class="g-col-3">
                        <span class="text"> {{entity.EntityName}} </span>
                        <span class="subtext"> {{entity.TableName}} </span>
                    </div>
                    <div class="g-col-2">
                        <i ng-if="!entity.IsReadOnly" class="codicon codicon-chrome-maximize fs-4 text-start"></i>
                        <i ng-if="entity.IsReadOnly" class="codicon codicon-check fs-4 text-start"></i>
                    </div>
                    <div class="g-col-2">
                        <button type="button" class="b-clean text-light p-0" ng-disabled="$.running || $index==0">
                            <i class="codicon codicon-arrow-up d-inline-block me-1"
                                ng-click="$.onEntitySwapClick($index,$index-1)"></i>
                        </button>
                        <button type="button" class="b-clean text-light p-0" ng-disabled="$.running || $index==$.entities.length-1">
                            <i class="codicon codicon-arrow-down d-inline-block"
                                ng-click="$.onEntitySwapClick($index,$index+1)"></i>
                        </button>
                    </div>
                    <div class="g-col-2">
                        <div class="b-multi-btns">
                            <button type="button" ng-click="$.onEditEntityClick(entity.EntityID,entity.EntityName)">
                                <i class="codicon codicon-edit"></i>
                            </button>
                            <button type="button" ng-click="$.onDeleteEntityClick(entity.EntityID,$index)">
                                <i class="codicon codicon-trash"></i>
                            </button>
                            <button type="button">
                                <i class="codicon codicon-ellipsis"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-footer">
                <div ng-if="!$.entities.length" class="b-notify notify-warning mb-4">
                    <i class="codicon codicon-info b-icon-2"></i>
                    <div class="text">
                        <h4 class="label">No entities.</h4>
                        <span class="subtext">
                            Click
                            <button type="button" class="b-btn btn-sm ms-2 me-2" ng-click="$.onAddEntityClick()">
                                Add Entity
                            </button>
                            for creating a new
                            entity.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="entities-box" ng-if="!$.displayMode || $.displayMode=='box'" style="height: {{$.entitiesColumnsCount * 1.8}}rem;">
            <div class="entity-item" ng-repeat="entity in $.entities">
                <div class="entity-title-wrapper">
                    <i class="codicon codicon-ungroup-by-ref-type"></i>
                    <h5 class="entity-title">{{entity.EntityName}}</h5>
                    <div class="action-tools">
                        <button type="button">
                            <i class="codicon codicon-edit"></i>
                        </button>
                        <button type="button">
                            <i class="codicon codicon-trash"></i>
                        </button>
                    </div>
                </div>
                <h6 class="entity-subtitle">{{entity.TableName}}</h6>
                <ul class="entity-columns">
                    <li class="column-item" ng-repeat="column in entity.Columns">
                        <div class="column-title-wrapper">
                            <h6 class="column-title">
                                {{column.ColumnName}}
                                <span class="sub-title">({{column.ColumnType}})</span>
                            </h6>
                            <i ng-if="column.IsPrimary" class="codicon codicon-key"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </b-content-widget>
</div>