<div ng-controller="actionsController as $" class="actions">
    <b-content-widget data-title="Actions" data-icon="combine" data-module-type="actions" data-subtitle="Scenario actions - tables & views on database" data-await-action="$.awaitAction" extra-icon1="codicon codicon-table" extra-icon1-title="Table Mode" data-module="$"
        data-reload-method="onPageLoad" data-close-method="onCloseWindow" extra-icon1-method="onTableModeClick" extra-icon2="codicon codicon-chrome-restore" extra-icon2-title="Box Mode" extra-icon2-method="onBoxModeClick">
        <b-widget-quick-input ng-if="1==2" items="$.scenarios" item-Title="ScenarioTitle" item-Subtitle="ScenarioName" item-icon="archive" search-placeholder="Select a scenario"></b-widget-quick-input>
        <!------------------------------------>
        <!--Display Mode : Table-->
        <!------------------------------------>
        <div class="b-table" ng-if="$.displayMode=='table'">
            <div class="table-header">
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.ActionName" class="b-input form-control" placeholder="Search by action name" />
                        <span><i class="codicon codicon-bell"></i></span>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.ActionName" class="b-input form-control" placeholder="Search by action name" />
                        <span><i class="codicon codicon-circuit-board"></i></span>
                    </div>
                </div>
                <div class="col-1">
                    <div class="b-input-group">
                        <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()" ng-disabled="$.column">
                            <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                        </button>
                    </div>
                </div>
                <div class="header-tools">
                    <div class="b-btn-group">
                        <button type="button" class="b-btn btn-action" ng-click="$.onAddActionClick()" ng-disabled="$.column">
                            <i class="codicon codicon-plus" ng-disabled="$.running"></i>
                            Add Action
                        </button>
                        <button type="button" class="b-btn btn-action dropdown-toggle dropdown-toggle-split" ng-disabled="$.column" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu b-dropdown-menu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-body">
                <div class="grid columns-name">
                    <div class="g-col-1">
                        <label class="b-checkbox">
                            <input type="checkbox" ng-model="$.filter.IsSelectedAll">
                            <i class="checkbox-icon"></i>
                        </label>
                    </div>
                    <div class="g-col-3">Action Name</div>
                    <div class="g-col-2">Action Type</div>
                    <div class="g-col-2">Server Side</div>
                    <div class="g-col-2">
                        <i class="codicon codicon-arrow-up d-inline-block"></i>
                        <i class="codicon codicon-arrow-down d-inline-block"></i>
                    </div>
                    <div class="g-col-2">
                        <i class="codicon codicon-ellipsis"></i>
                    </div>
                </div>
                <div class="grid table-row" ng-repeat="action in $.allActions | orderBy: 'ViewOrder'">
                    <div class="g-col-1">
                        <label class="b-checkbox">
                            <input type="checkbox" ng-model="$.action.IsSelected">
                            <i class="checkbox-icon"></i>
                        </label>
                    </div>
                    <div class="g-col-3">
                        {{action.ActionName}}
                    </div>
                    <div class="g-col-2">
                        <span class="text"> {{action.ActionType}} </span>
                        <span class="subtext"> {{action.Event}} </span>
                    </div>
                    <div class="g-col-2">
                        <i ng-if="!action.IsServerSide" class="codicon codicon-chrome-maximize fs-4 text-start"></i>
                        <i ng-if="action.IsServerSide" class="codicon codicon-check fs-4 text-start"></i>
                    </div>
                    <div class="g-col-2">
                        <button type="button" class="b-clean text-light p-0" ng-click="$.onActionSwapClick($index,$index-1)" ng-disabled="$.running || $index==0">
                            <i class="codicon codicon-arrow-up"></i>
                        </button>
                        <button type="button" class="b-clean text-light p-0" ng-click="$.onActionSwapClick($index,$index+1)" ng-disabled="$.running || $index==$.allActions.length-1">
                            <i class="codicon codicon-arrow-down"></i>
                        </button>
                    </div>
                    <div class="g-col-2">
                        <div class="b-multi-btns">
                            <button type="button" ng-click="$.onEditActionClick(action.ActionID,action.ActionName,action.FieldID)">
                                <i class="codicon codicon-edit"></i>
                            </button>
                            <button type="button" ng-click="$.onDeleteActionClick(action.ActionID,$index)">
                                <i class="codicon codicon-trash"></i>
                            </button>
                            <button type="button">
                                <i class="codicon codicon-ellipsis"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-footer">
                <div ng-if="!$.allActions.length" class="b-notify notify-warning mb-4">
                    <i class="codicon codicon-info b-icon-2"></i>
                    <div class="text">
                        <h4 class="label">No actions.</h4>
                        <span class="subtext">
                            Click
                            <button type="button" class="b-btn btn-sm ms-2 me-2" ng-click="$.onAddActionClick()">
                                Add Action
                            </button>
                            for creating a new
                            action.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------>
        <!--Display Mode : Box-->
        <!------------------------------------>
        <div class="actions" ng-if="!$.displayMode || $.displayMode=='box'">
            <div class="d-flex mb-4">
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.ActionName" class="b-input form-control" placeholder="Search by action name" />
                        <span><i class="codicon codicon-bell"></i></span>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="b-input-group">
                        <input type="text" ng-model="$.filter.ActionName" class="b-input form-control" placeholder="Search by action name" />
                        <span><i class="codicon codicon-circuit-board"></i></span>
                    </div>
                </div>
                <div class="col-1">
                    <div class="b-input-group">
                        <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()" ng-disabled="$.column">
                            <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                        </button>
                    </div>
                </div>
                <div class="ms-auto">
                    <div class="b-btn-group">
                        <button type="button" class="b-btn btn-action" ng-click="$.onAddActionClick()" ng-disabled="$.column">
                            <i class="codicon codicon-plus" ng-disabled="$.running"></i>
                            Add Action
                        </button>
                        <button type="button" class="b-btn btn-action dropdown-toggle dropdown-toggle-split" ng-disabled="$.column" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu b-dropdown-menu">
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------>
            <!--Module Actions-->
            <!------------------------------------>
            <div class="b-group mb-4">
                <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpModuleActions">
                    <h3 class="group-label">
                        <span class="group-icon">
                        <i class="codicon codicon-server-process"></i>
                    </span> Module Actions
                    </h3>
                    <span class="group-collapse">
                        <i class="codicon codicon-chevron-up"></i>
                    </span>
                </div>
                <div id="grpModuleActions" class="group-content collapse show">
                    <div class="action-item" ng-repeat="action in $.moduleActions | orderBy: 'ViewOrder'" ng-class="{'action-has-childs':action.Childs.length}" ng-include="'actionItem.html'"></div>
                </div>
            </div>
            <!------------------------------------>
            <!--Field Actions-->
            <!------------------------------------>
            <div class="b-group mb-4" ng-repeat="(key,actions) in $.fieldActions">
                <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grp{{key}}Actions">
                    <h3 class="group-label">
                        <span class="group-icon">
                        <i class="codicon codicon-server-process"></i>
                    </span> {{key}} Actions
                    </h3>
                    <span class="group-collapse">
                        <i class="codicon codicon-chevron-up"></i>
                    </span>
                </div>
                <div id="grp{{key}}Actions" class="group-content collapse show">
                    <div class="action-item" ng-repeat="action in actions | orderBy: 'ViewOrder'" ng-class="{'action-has-childs':action.Childs.length}" ng-include="'actionItem.html'"></div>
                </div>
            </div>
        </div>
    </b-content-widget>

    <script type="text/ng-template" id="actionItem.html">
        <div class="item-wrapper">
            <div class="row">
                <div class="col-1 position-relative">
                    <button type="button" class="b-clean action-move-top" ng-click="$.onActionSwapClick($index,$index-1)" ng-disabled="$.running || action.IsFirst">
                        <i class="codicon codicon-arrow-up d-inline-block me-1"></i>
                    </button>
                    <button type="button" class="b-clean action-move-bottom" ng-click="$.onActionSwapClick($index,$index+1)" ng-disabled="$.running || action.IsLast">
                        <i class="codicon codicon-arrow-down d-inline-block"></i>
                    </button>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-column align-items-center">
                        <i ng-if="action.ActionTypeIcon" class="{{action.ActionTypeIcon}} action-type-icon"></i>
                        <i ng-if="!action.ActionTypeIcon" class="bi bi-card-list action-type-icon"></i>
                        <p class="action-type">{{action.ActionType}}</p>
                        <a class="text-white" href="#actionSubItems{{action.ActionID}}" data-bs-toggle="collapse" role="button" ng-if="action.Childs.length" ng-click="action.IsExpanded=!action.IsExpanded">
                            <i ng-if="!action.IsExpanded" class="codicon codicon-collapse-all"></i>
                            <i ng-if="action.IsExpanded" class="codicon codicon-expand-all"></i>
                        </a>
                    </div>
                </div>
                <div class="col-5 b-splitter border-end">
                    <h5 class="h5 text-white">{{action.ActionName}}</h5>
                    <p class="text-mute mb-3">
                        {{action.Event}}
                        <span class="small" ng-if="action.Event=='OnActionCompleted'"> 
                                -
                                <span ng-if="action.ParentResultStatus==0">All Mode</span>
                        <span ng-if="action.ParentResultStatus==1">On Completed Success</span>
                        <span ng-if="action.ParentResultStatus==2">On Completed Error</span>
                        </span>
                    </p>
                    <p class="text-white-50 mb-0">Created by {{action.CreatedUserDisplayName}} in <span b-custom-date="{{action.CreatedOnDate}}" data-relative="true"></span></p>
                    <p class="text-white-50 mb-0">Last Modified by {{action.LastModifiedByUserDisplayName}} in <span b-custom-date="{{action.LastModifiedOnDate}}" data-relative="true"></span></p>
                </div>
                <div class="col-2 b-splitter border-end small">
                    <div ng-if="!action.IsServerSide" class="d-flex align-items-center mb-3">
                        <i class="codicon codicon-references me-2 b-icon-1_5"></i> Client Side Action
                    </div>
                    <div ng-if="action.IsServerSide" class="d-flex align-items-center mb-3">
                        <i class="codicon codicon-workspace-trusted me-2 b-icon-1_5"></i> Server Side Action
                    </div>
                    <div ng-if="!action.HasPreScript" class="d-flex align-items-center mb-3">
                        <i class="codicon codicon-chrome-maximize me-2 b-icon-1_5"></i> Pre Script
                    </div>
                    <div ng-if="action.HasPreScript" class="d-flex align-items-center mb-3">
                        <i class="codicon codicon-check me-2 b-icon-1_5"></i> Pre Script
                    </div>
                    <div ng-if="!action.HasPostScript" class="d-flex align-items-center mb-3">
                        <i class="codicon codicon-chrome-maximize me-2 b-icon-1_5"></i> Post Script
                    </div>
                    <div ng-if="action.HasPostScript" class="d-flex align-items-center mb-3">
                        <i class="codicon codicon-check me-2 b-icon-1_5"></i> Post Script
                    </div>
                </div>
                <div class="col-1 small pe-0">
                    <p class="text-white-50" ng-if="action.Params.length">{{action.Params.length}} Params</p>
                    <p class="text-white-50" ng-if="action.Results.length">{{action.Results.length}} Results</p>
                    <p class="text-white-50" ng-if="action.Conditions.length">{{action.Conditions.length}} Conditions</p>
                </div>
                <div class="col-1">
                    <button type="button" class="b-btn btn-action mb-2" ng-click="$.onEditActionClick(action.ActionID,action.ActionName,action.FieldID)">
                        <i class="bi bi-pencil-fill me-0"></i>
                    </button>
                    <button type="button" class="b-btn btn-action mb-2" ng-click="$.onDeleteActionClick(action.ActionID,$index)">
                        <i class="bi bi-trash-fill me-0"></i>
                    </button>
                    <a class="b-btn btn-action" href="#actionMoreData{{action.ActionID}}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                        <i class="bi bi-chevron-double-down me-0"></i>
                    </a>
                </div>
            </div>
            <div class="collapse multi-collapse" id="actionMoreData{{action.ActionID}}">
                <div class="action-options">
                    <h5 class="option-name">More Data </h5>
                    <div class="option-item">
                        <label class="item-label">Action ID:</label>
                        <label class="item-label">{{action.ActionID}}</label>
                    </div>
                    <div class="option-item">
                        <label class="item-label">Module ID:</label>
                        <label class="item-label">{{action.ModuleID}}</label>
                    </div>
                    <div class="option-item" ng-if="action.FieldID">
                        <label class="item-label">Field ID:</label>
                        <label class="item-label">{{action.FieldID}}</label>
                    </div>
                    <div class="option-item" ng-if="action.ServiceID">
                        <label class="item-label">Service ID:</label>
                        <a class="item-label" href="" ng-click="$.onEditServiceClick(action.ServiceID)">{{action.ServiceID}}</a>
                    </div>
                    <div class="option-item" ng-if="action.PaymentMethodID">
                        <label class="item-label">Payment Method ID:</label>
                        <label class="item-label">{{action.PaymentMethodID}}</label>
                    </div>
                </div>
                <div class="action-options" ng-if="action.Conditions.length">
                    <div class="option-item" ng-if="action.DisableConditionForPreScript">
                        <label class="item-label">
                            <i class="codicon codicon-check me-2 b-icon-1_5"></i> 
                            Disable conditions for prescript
                        </label>
                    </div>
                    <div class="option-item" ng-if="action.CheckConditionsInClientSide">
                        <label class="item-label">
                            <i class="codicon codicon-check me-2 b-icon-1_5"></i> 
                            Check conditions in clientside
                        </label>
                    </div>
                    <h5 class="option-name">Conditions: </h5>
                    <div class="option-item" ng-repeat="condition in action.Conditions">
                        <label class="item-label">{{condition.LeftExpression}}</label>
                        <span class="item-label">{{condition.EvalType}}</span>
                        <label class="item-label">{{condition.RightExpression}}</label>
                    </div>
                </div>
                <div class="action-options" ng-if="action.Params.length">
                    <h5 class="option-name">Params: </h5>
                    <div class="option-item" ng-repeat="param in action.Params">
                        <label class="item-label">{{param.ParamName}}</label>
                        <span class="item-label">-----</span>
                        <label class="item-label">{{param.ParamValue}}</label>
                    </div>
                </div>
                <div class="action-options" ng-if="action.Results.length">
                    <h5 class="option-name">Results: </h5>
                    <div class="option-item" ng-repeat="result in action.Results">
                        <label class="item-label">{{result.LeftExpression}}</label>
                        <span class="item-label">{{result.EvalType}}</span>
                        <label class="item-label">{{result.RightExpression}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-sub-items collapse show ms-3" id="actionSubItems{{action.ActionID}}" ng-if="action.Childs.length">
            <div class="sub-item action-item" ng-repeat="action in action.Childs | orderBy: 'ViewOrder'" ng-class="{'action-has-childs':action.Childs.length}" ng-include="'actionItem.html'"></div>
        </div>
    </script>
</div>