<div ng-controller="extensionsController as $" class="extensions">
    <!------------------------------------>
    <!--Sidebar-->
    <!------------------------------------>
    <div class="mb-sidebar" b-custom-sidebar="extensions">
        <!------------------------------------>
        <!--Extensions List-->
        <!------------------------------------>
        <div class="b-extensions">
            <div class="header-sections">
                <!------------------------------------>
                <!--Top Tools-->
                <!------------------------------------>
                <div class="top-tools">
                    <label class="label">Extension Marketplace</label>
                    <div class="tools-items">
                        <div class="tools-item">
                            <button type="button" ng-click="$.onFilterItemsClick()" b-custom-tooltip title="Filter & Find Extensions">
                                <i class="codicon codicon-filter"></i>
                            </button>
                        </div>
                        <div class="tools-item">
                            <button type="button" ng-click="$.onRefreshItemsClick()" b-custom-tooltip title="Refresh & Reload Extensions">
                                <i class="codicon codicon-refresh"></i>
                             </button>
                        </div>
                        <div class="tools-item">
                            <button type="button" ng-click="$.onFilterItemsClick()" b-custom-tooltip title="More Actions">
                                <i class="codicon codicon-ellipsis"></i>
                             </button>
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <!--Search Extensions-->
                <!------------------------------------>
                <div class="search-wrapper">
                    <div class="b-input-group">
                        <input type="text" ng-model="filter.SearchText" class="b-input" placeholder="Search Installed & Marketplace Extensions" />
                        <span><i class="codicon codicon-search"></i></span>
                    </div>
                </div>
                <ul class="extension-types">
                    <li class="extension-type service-extensions">
                        <i class="codicon codicon-versions"></i> Services
                    </li>
                    <li class="extension-type actionextensions">
                        <i class="codicon codicon-github-action"></i> Actions
                    </li>
                    <li class="extension-type field-extensions">
                        <i class="codicon codicon-notebook-template"></i> Fields
                    </li>
                    <li class="extension-type skin-extensions">
                        <i class="codicon codicon-editor-layout"></i> Skins
                    </li>
                </ul>
            </div>
            <!------------------------------------>
            <!--Extensions Online Marketplace-->
            <!------------------------------------>
            <div class="online-market-wrapper">
                <a href="https://bengine.com/extensions" target="_blank" class="online-market-button">
                    <i class="codicon codicon-package"></i> Online Marketplace
                </a>
            </div>
            <!------------------------------------>
            <!--Top & New Extensions on market place-->
            <!------------------------------------>
            <div class="extension-list">
                <!------------------------------------>
                <!--Popular Extensions-->
                <!------------------------------------>
                <div class="b-group group-sm mb-4">
                    <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpExistsExtensions">
                        <h3 class="group-label">
                            <span class="group-icon">
                                <i class="codicon codicon-server-process"></i>
                            </span> Popular Extensions
                        </h3>
                        <span class="group-collapse">
                            <i class="codicon codicon-chevron-up"></i>
                        </span>
                    </div>
                    <div id="grpExistsExtensions" class="group-content collapse show">
                        <div class="extension-items">
                            <div class="extension-item">
                                <div class="left-box">
                                    <div class="image-wrapper">
                                        <img ng-src="/DesktopModules/BusinessEngine/assets/images/nitro-I.png" />
                                    </div>
                                    <h5 class="category">Advanced Pack 1</h5>
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-info">
                                        <h3 class="title">Nitro I Extensions</h3>
                                        <div class="star-wrapper">
                                            5
                                            <i class="codicon codicon-star-full"></i>
                                        </div>
                                    </div>
                                    <p class="summary">
                                        This package is the need of every application.
                                    </p>
                                    <div class="more-info">
                                        <label class="price-label">99$</label>
                                        <button type="button" class="b-btn btn-action btn-sm">Buy & Install</button>
                                    </div>
                                </div>
                            </div>
                            <div class="extension-item">
                                <div class="left-box">
                                    <div class="image-wrapper">
                                        <img ng-src="/DesktopModules/BusinessEngine/assets/images/nitro-II.png" />
                                    </div>
                                    <h5 class="category">Advanced Pack 2</h5>
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-info">
                                        <h3 class="title">Nitro II Extensions</h3>
                                        <div class="star-wrapper">
                                            5
                                            <i class="codicon codicon-star-full"></i>
                                        </div>
                                    </div>
                                    <p class="summary">
                                        This extension includes advanced & professional extensions.
                                    </p>
                                    <div class="more-info">
                                        <label class="price-label">99$</label>
                                        <button type="button" class="b-btn btn-action btn-sm">Buy & Install</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------>
    <!--Content Panel Installed Extensions group by type-->
    <!------------------------------------>
    <b-content-widget data-title="Extensions" data-icon="extensions" data-module-type="extensions" data-subtitle="components, skins, services, actions, packages, ..." data-await-action="$.awaitAction" data-module="$" data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <div class="d-flex mb-4">
            <div class="col-3 me-3">
                <div class="b-input-group">
                    <input type="text" ng-model="$.filter.Extension" class="b-input form-control" placeholder="Search by action name" />
                    <span><i class="codicon codicon-bell"></i></span>
                </div>
            </div>
            <div class="col-1">
                <div class="b-input-group">
                    <button type="button" class="b-btn btn-submit ps-3 pe-3" ng-click="$.onSearchClick()" ng-disabled="$.running">
                        <i class="codicon codicon-search m-0" ng-disabled="$.running"></i>
                    </button>
                </div>
            </div>
            <div class="ms-auto">
                <div class="b-btn-group">
                    <!------------------------------------>
                    <!--Install New Extenions-->
                    <!------------------------------------>
                    <button type="button" class="b-btn btn-action" ng-click="$.onInstallExtensionClick()" ng-disabled="$.running">
                        <i class="codicon codicon-plus" ng-disabled="$.running"></i>
                        Install New Extension
                    </button>
                    <button type="button" class="b-btn btn-action dropdown-toggle dropdown-toggle-split" ng-disabled="$.running" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu b-dropdown-menu">
                        <a class="dropdown-item" href="" ng-click="$.param.ExpressionParsingType=''">
                            <i class="codicon codicon-plus me-2"></i> Create New Extension(next version!)
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------>
        <!--Available Extensions-->
        <!------------------------------------>
        <div class="b-group">
            <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpAvailableExtensions">
                <h3 class="group-label">
                    <span class="group-icon">
                        <i class="codicon codicon-server-process"></i>
                    </span>Available Extensions
                </h3>
                <span class="group-collapse">
                    <i class="codicon codicon-chevron-up"></i>
                </span>
            </div>
            <div id="grpAvailableExtensions" class="group-content collapse show">
                <div class="b-table theme-gray">
                    <div class="table-body pt-3">
                        <div class="d-flex columns-name">
                            <div class="col-1">
                                <i class="codicon codicon-extensions fs2-rem"></i>
                            </div>
                            <div class="col-2 my-auto">Extension Name</div>
                            <div class="col-3 my-auto">Description</div>
                            <div class="col-1 my-auto">Free</div>
                            <div class="col-1 my-auto">Trial</div>
                            <div class="col-1 my-auto">Demo</div>
                            <div class="col-1 my-auto text-center">Price</div>
                            <div class="col-2 my-auto">...</div>
                        </div>
                        <div class="d-flex table-row" ng-repeat="item in $.availableExtensions | fuzzyBy: 'extensionName' : $.filter.Extension" role="button">
                            <div class="col-1 my-auto">
                                <i class="codicon codicon-extensions fs2-rem b-color-{{$index+1}}"></i>
                            </div>
                            <div class="col-2 my-auto text-light">
                                {{item.extensionName}}
                                <br>
                                <span class="text-light fs08-rem">Version {{item.version}}</span>
                            </div>
                            <div class="col-3 my-auto fs08-rem p-1">
                                {{item.description}}
                                <br> {{item.ownerCompany}}
                            </div>
                            <div class="col-1 my-auto">
                                <label class="b-switch switch-sm">
                                    <input type="checkbox" ng-model="item.isFree" ng-disabled="true"/>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="col-1 my-auto">
                                <label class="b-switch switch-sm mb-1">
                                    <input type="checkbox" ng-model="item.isTrial" ng-disabled="true"/>
                                    <span class="slider"></span>
                                </label>
                                <span ng-if="item.isTrial" class="fs08-rem"> {{item.trialDays}} days</span>
                            </div>
                            <div class="col-1 my-auto">
                                <a ng-href="item.demo" target="_blank" class="b-btn btn-action btn-sm btn-full text-decoration-none mb-2">Demo</a>
                                <a ng-if="!item.isFree" ng-href="item.demo" target="_blank" class="b-btn btn-primary btn-sm btn-full text-decoration-none">Buy</a>
                            </div>
                            <div class="col-1 my-auto text-center">
                                {{item.price}}
                            </div>
                            <div class="col-2 my-auto text-light">
                                <div class="b-btn-group">
                                    <!------------------------------------>
                                    <!--Install New Extenions-->
                                    <!------------------------------------>
                                    <button type="button" class="b-btn btn-submit btn-full" ng-click="$.onInstallAvailableExtension(item,$index)" ng-disabled="$.running">
                                        <span ng-if="!$.running || $.awaitAction.extIndex!=$index">INSTALL</span>
                                        <span ng-if="$.running && $.awaitAction.extIndex==$index">...</span>
                                    </button>
                                    <button type="button" class="b-btn btn-submit dropdown-toggle dropdown-toggle-split" ng-disabled="$.running" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <div class="dropdown-menu b-dropdown-menu">
                                        <a class="dropdown-item" ng-href="/DesktopModules/BusinessEngine/install/{{item.extensionFile}}" target="_blank">
                                            <i class="codicon codicon-cloud-download me-2"></i> Download Extension
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------>
        <!--Installed Extensions-->
        <!------------------------------------>
        <div class="b-group">
            <div class="group-header" data-bs-toggle="collapse" data-bs-target="#grpInstalledExtensions">
                <h3 class="group-label">
                    <span class="group-icon">
                        <i class="codicon codicon-server-process"></i>
                    </span>Installed Extensions
                </h3>
                <span class="group-collapse">
                    <i class="codicon codicon-chevron-up"></i>
                </span>
            </div>
            <div id="grpInstalledExtensions" class="group-content collapse show">
                <div class="b-table theme-gray">
                    <div class="table-body pt-3">
                        <div class="d-flex columns-name">
                            <div class="col-1">
                                <i class="codicon codicon-extensions fs2-rem"></i>
                            </div>
                            <div class="col-3 my-auto">Extension Name</div>
                            <div class="col-5 my-auto">Summary</div>
                            <div class="col-2 my-auto">Install Date</div>
                            <div class="col-1 my-auto">
                                <i class="codicon codicon-ellipsis"></i>
                            </div>
                        </div>
                        <div class="d-flex table-row" ng-repeat="item in $.extensions" role="button">
                            <div class="col-1 my-auto">
                                <img ng-if="item.ExtensionImage" class="extension-image" ng-src="{{item.ExtensionImage}}" />
                                <i ng-if="!item.ExtensionImage" class="codicon codicon-extensions fs2-rem"></i>
                            </div>
                            <div class="col-3 my-auto text-light">
                                {{item.ExtensionName}}
                                <br>
                                <span class="text-light fs08-rem">Version {{item.version}}</span>
                            </div>
                            <div class="col-5 my-auto">
                                {{item.Summary}}
                            </div>
                            <div class="col-2 my-auto">
                                <span b-custom-date="{{item.CreatedOnDate}}"></span>
                            </div>
                            <div class=" col-1">
                                <div class="b-multi-btns">
                                    <button type="button" ng-click="$.onViewExtensionClick(item)" ng-disabled="$.running" b-custom-tooltip data-bs-placement="bottom" title="Column Properties">
                                        <i class="codicon codicon-output"></i>
                                    </button>
                                    <button type="button" ng-click="$.onDeleteExtensionClick(item.ExtensionID,$index)" ng-disabled="$.running" b-custom-tooltip data-bs-placement="bottom" title="Cancel Column">
                                        <i class="codicon codicon-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-content-widget>

    <!------------------------------------>
    <!--Install New Extension Panel->
    <!------------------------------------>
    <b-right-widget ng-if="$.workingMode=='install-extension'" data-title="Install New Extension Wizard" data-icon="extensions" data-subtitle="select and upload extension package" data-await-action="$.awaitAction" class="b-install-extensions-wizard" data-module="$"
        data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <!------------------------------------>
        <!--Install Wizard->
        <!------------------------------------>
        <div class="wizard-steps artin">
            <div class="wz-steps">
                <div class="wz-step"><span></span>Upload Extension </div>
                <div class="wz-step"><span></span>Extension Info </div>
                <div class="wz-step"><span></span>Install Extension </div>
                <div class="wz-step"><span></span>Finish & Use! </div>
            </div>
            <div class="step-content">
                <!--Wizard Loading-->
                <div class="pre-loader theme-default" ng-hide="$.hideStepPreloader">
                    <div class="lines"></div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 1 (Select & Upload Extension File)-->
                <!------------------------------------>
                <div ng-if="$.step==1">
                    <div class="b-upload-box">
                        <input type="file" class="form-control" accept=".zip" ngf-select="$.onUploadExtensionPackage($files,$file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ngf-max-size="103809024" ngf-fix-orientation="true" />
                        <p>Click to open browse files and select one zip file for install extension.</p>
                        <i class="codicon codicon-extensions"></i>
                    </div>
                    <div class="b-notify notify-info mb-4">
                        <i class="codicon codicon-shield b-icon-2"></i>
                        <div class="text">
                            <h4 class="label">Important.</h4>
                            <p class="subtext">the extension file size must be standard size that define in web.config. </p>
                            <a href="#" class="card-link">More info</a>
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 2 (Show Extension Info)-->
                <!------------------------------------>
                <div ng-if="$.step==2">
                    <div class="extension-details">
                        <div class="ext-row ext-splitter">
                            <div class="image-wrapper">
                                <i ng-if="!item.ExtensionImage" class="codicon codicon-extensions"></i>
                            </div>
                            <div class="extension-top-info">
                                <h1 class="ext-name">{{$.extension.ExtensionName}}</h1>
                                <h4 class="ext-title">{{$.extension.Title}}</h4>
                                <span class="ext-type">{{$.extension.ExtensionType}}</span>
                            </div>
                            <div class="ext-is-commercial">
                                <div class="form-label">Is Commercial</div>
                                <label class="b-switch">
                                    <input type="checkbox" ng-model="$.extension.IsCommercial" ng-disabled="true">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="ext-row ext-splitter">
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 3 (Install Extension)-->
                <!------------------------------------>
                <div ng-if="$.step==3">
                    <div class="monitor-install-extension"></div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 4 (Action Builder)-->
                <!------------------------------------>
                <div ng-show="$.step==4">
                    <h3 class="text-center text-success text-uppercase">Congratulations! THE EXTENSION HAS BEEN INSTALLED SUCCESSFULLY.</h3>
                </div>
                <!------------------------------------>
                <!--Wizard Actoions(Buttons)-->
                <!------------------------------------>
                <hr class="mb-4" />
                <div class="mb-1 d-flex">
                    <div class="ms-auto">
                        <button type="button" class="b-btn me-2" ng-if="$.step>1 && $.step<4" ng-click="$.onInstallExtensionStepClick()" ng-disabled="$.running">
                            Next
                            <i class="codicon codicon-arrow-right ms-2 me-0"></i>
                        </button>
                        <button type="button" class="b-btn btn-submit me-2" ng-if="$.step>=4" ng-click="$.onDoneInstallExtensionClick()" ng-disabled="$.running">
                            <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
                            Done
                        </button>
                        <button type="button" class="b-btn btn-cancel" ng-click="$.onCancelInstallExtensionClick()" ng-disabled="$.running">
                            <i class="codicon codicon-circle-slash"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </b-right-widget>
</div>